.info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.movie-info{
    color: #fff;
}

.info-title{
    font-size: 35px;
}

.info-facts{
    color: #ccc;
    margin-bottom: 30px;
    
}

.release{
    margin-right: 10px;
}

.genres{
    margin-right: 10px;
}

.auto-action{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 20px;
    align-items: center;
}

.action-item{
    background-color: #032541;
    /* padding: 10px; */
    border-radius: 50%;
   
}

.icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    /* border-radius: 50%; */
  
}

.tag-line{
    color: #ccc;
    margin-bottom: 10px;
}

.auto{
    margin-bottom: 10px;
}

.overview{
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.img{
    height: 100%;
}

.action-btn{
    padding: 8px 16px;
    background-color: #032541;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}